<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Adam!</title> <!-- Jinja dinamicke meno -->
    <link rel="stylesheet" href="/static/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Learn HTML JavaScript and CSS by building projects"/>
    <meta property="" content="en"/>
    <meta property="Frontend Challenges" content="Learn Frontend by building projects"/>
    <meta property="frontendChallenges" content="create projects in html and css"/>
</head>
<body>

<!--
<article>
<aside>
<details>
<figcaption>
<figure>
<footer>
<header>
<main>
<mark>
<nav>
<section>
<summary>
<time>
-->
<header>
    <nav>
        <div class="logo">
            <h4>Frontend Challenges</h4>
        </div>

        <ul class="nav-links">
            <li><a href="/forum">Forum</a></li>
            <li><a href="/challanges">Challenges</a></li>
            <li><a href="/solutions">Solutions</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/made_by">Credits</a></li>
        </ul>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>
<main>
    <div class="main-content-wrapper">

        <section class="enter__section">
            <div class="enter__section-wrapper">

                <header class="enter__section-text">
                    <h1>Improve your programming
                        skills by building <span>real life projects.</span></h1>
                    <h1>Welcome <span class="text no-wavy">Adam!</span></h1>
                </header>


                <div class="enter__section-img">
                    <img class="img" src="/static/img/images/img.png" alt="frontend-coding">
                </div>
            </div>
        </section>

        <section class="how-it-works__section">
            <div class="how-it-works__heading">
                <h1 class="text">How it Works</h1>
            </div>

            <div class="how-it-works__grid">

                <div class="grid-item">
                    <div class="grid-content-wrapper">
                        <h1>Find a Project</h1>
                        <p>1. Find a project that you are interested in. </p>
                        <img src="/static/img/design/project.png">
                    </div>
                </div>

                <div class="grid-item">
                    <div class="grid-content-wrapper">
                        <h1>Download</h1>
                        <p>2. Download your project and start building! </p>
                        <img src="/static/img/design/download.png">
                    </div>
                </div>

                <div class="grid-item">
                    <div class="grid-content-wrapper">
                        <h1>Code</h1>
                        <p>3. Code your choosen project and start the building.</p>
                        <img src="/static/img/design/code.png">
                    </div>
                </div>

                <div class="grid-item">
                    <div class="grid-content-wrapper">
                        <h1>Get Feedback</h1>
                        <p>4. Submit your project and get feedback from your work !</p>
                        <img src="/static/img/design/feedback.png">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<footer>
    <div class="contact-us">

        <div class="contact-us-wrapper">
            <div class="contact-us__text">
                <p>Contact Us</p>
            </div>

            <div class="contact-us__icons">
                <a href="https://www.instagram.com/adamkurek_/"><img class="small-icon" src="/static/img/images/instagram.png"></a>
                <a href="https://twitter.com/AdamKurek19"><img class="small-icon" src="/static/img/images/twitter.png"></a>
                <a href="https://sk.linkedin.com/in/adam-kurek-665b8522a?trk=people-guest_people_search-card&original_referer=https%3A%2F%2Fwww.google.com%2F">
                    <img class="small-icon" src="/static/img/images/linked-in.png"></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright &copy; 2022 Frontend Challenges</p>
    </div>
</footer>


<div class="background-images">
    <div class="square-1"></div>
    <div class="square-2"></div>

    <div class="dot-element-1">
        <p>.................</p>
        <p>.................</p>
        <p>.................</p>
        <p>.................</p>
        <p>.................</p>
        <p>.................</p>
    </div>
</div>



<script src="/static/js/navbar.js"></script>
<script> var exports = {}; </script>
<script src="/static/js/main-script.js"></script>
</body>
</html>