<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Challenges</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <h4>Frontend Challenges</h4>
        </div>

        <ul class="nav-links">
            <li><a href="#">Forum</a></li>
            <li><a href="#">Challenges</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
        </ul>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>

<main>
    <section class="challenges-section">
        <div class="challenges-section__heading">
            <h2 class="text">Challenges</h2>
        </div>

        <div class="challenges-grid">

            <div class="challenge-container">
                <div class="challenge-image__container">
                    <img src="/img/images/img_1.png">
                </div>

                <div class="challenge-heading__container">
                    <h3>Calculator</h3>
                </div>

                <div class="challenge-text__container">
                    <p>
                        d it to make a type specimen book. It has survived not only five centuries, but also the leap
                        It has survived not only five ce intoake a typeto make a type specimen book. It has survived not
                        only five centuries, but also the leap
                        It has survived not o
                    </p>
                </div>

                <div class="challenge-footer__container">
                    <a>START PROJECT</a>
                    <p>Easy</p>
                </div>

            </div>

            <div class="challenge-container"></div>
            <div class="challenge-container"></div>
            <div class="challenge-container"></div>
            <div class="challenge-container"></div>
            <div class="challenge-container"></div>
        </div>
    </section>


</main>


<footer>
    <div class="contact-us">
        <div class="contact-us-wrapper">
            <div class="contact-us__text">
                <p>Contact Us</p>
            </div>
            <div class="contact-us__icons">
                <img class="small-icon" src="/fontawesome-free-6.1.1-web/svgs/brands/instagram.svg">
                <img class="small-icon" src="/fontawesome-free-6.1.1-web/svgs/brands/twitter.svg">
                <img class="small-icon" src="/fontawesome-free-6.1.1-web/svgs/brands/linkedin.svg">
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright &copy; 2022 Frontend Challenges</p>
    </div>
</footer>

<script src="/static/js/navbar.js"></script>
<script src="/static/js/main-script.js"></script>


<div class="background-images">
    <div class="square-1"></div>
    <div class="square-2"></div>
</div>

</body>
</html>