<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <h4>Frontend Challenges</h4>
        </div>

        <ul class="nav-links">
            <li><a href="/forum">Forum</a></li>
            <li><a href="/challenges">Challenges</a></li>
            {% if user.is_authentificated %}
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {% endif %}

            <li><a href="/contact">Contact</a></li>
        </ul>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>

<main>
    <section class="login-section">
        <div class="login-container">

            <form method="POST" class="login-content-bigger" enctype="multipart/form-data">
                <header class="login-heading">
                    <h2>Create Challenge</h2>
                </header>

                <div class="input-container">
                    <div class="input-wrapper">
                        <label>Name of the project</label>
                        <input class="input-field-normal"
                               name="name-of-the-challenge"
                               type="text">
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-wrapper">
                        <label>Info about project</label>
                        <textarea
                                name="info-about-challenge">
                        </textarea>
                    </div>
                </div>


                <div class="input-container">
                    <div class="input-wrapper">
                        <label>Difficulty: </label>
                        <input class="input-field-normal"
                               name="difficulty-of-challenge"
                               type="text">
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-wrapper">
                        <label>Github link: </label>
                        <input class="input-field-normal"
                               name="github-link-challenge"
                               type="text">
                    </div>
                </div>


                <div class="input-container">
                    <div class="input-wrapper">
                        <label> Select image : </label>
                        <input type="file"
                               class="input-field-normal"
                               name="file">
                    </div>
                </div>



                <div class="input-container">
                    <div class="input-wrapper">
                        <button type="submit">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </section>



</main>

<div class="background-images">
    <div class="square-1"></div>
    <div class="square-2"></div>
</div>

<footer>
    <div class="contact-us">
        <div class="contact-us-wrapper">
            <div class="contact-us__text">
                <p>Contact Us</p>
            </div>

            <div class="contact-us__icons">
                <a href="https://www.instagram.com/adamkurek_/">
                    <img class="small-icon" src="/static/img/images/instagram.png"></a>
                <a href="https://twitter.com/AdamKurek19"><img class="small-icon" src="/static/img/images/twitter.png"></a>
                <a href="https://sk.linkedin.com/in/adam-kurek-665b8522a?trk=people-guest_people_search-card&original_referer=https%3A%2F%2Fwww.google.com%2F"><img
                        class="small-icon" src="/static/img/images/linked-in.png"></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright &copy; 2022</p>
    </div>

</footer>

<script src="/static/js/navbar.js"></script>
<script src="/static/js/main-script.js"></script>
</body>
</html>