<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <link href="/static/styles/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <h4>Frontend Challenges</h4>
        </div>

        <ul class="nav-links">
            <li><a href="/forum">Forum</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/made_by">Credits</a></li>
        </ul>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>
<main>
    <section class="contact-section">
        <header class="contact-heading">
            <h1 class="text">Contact us</h1>
        </header>
        <div class="contact-us_container">
            <article class="contact-us_text">

                <p>
                    If you have any questions about our work
                    or have any idea how to improve it
                    feel free to contact us.ou have any
                    questions about our work
                    or have any idea how to improve it
                    feel free to contact us.
                </p>

            </article>

            <aside class="contact-us_bottom">
                <a href="http://www.adamkurek.com/#contact">Contact Us</a>
            </aside>
        </div>
    </section>


</main>

<div class="background-images">
    <div class="square-1"></div>
    <div class="square-2"></div>
</div>

<footer>
    <div class="contact-us">
        <div class="contact-us-wrapper">

            <div class="contact-us__text">
                <p>Contact Us</p>
            </div>

             <div class="contact-us__icons">
                <a href="https://www.instagram.com/adamkurek_/"><img class="small-icon" src="/static/img/images/instagram.png"></a>
                <a href="https://twitter.com/AdamKurek19"><img class="small-icon" src="/static/img/images/twitter.png"></a>
                <a href="https://sk.linkedin.com/in/adam-kurek-665b8522a?trk=people-guest_people_search-card&original_referer=https%3A%2F%2Fwww.google.com%2F"><img class="small-icon" src="/static/img/images/linked-in.png"></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright &copy; 2022</p>
    </div>
</footer>

<script src="/static/js/navbar.js"></script>
<script src="/static/js/main-script.js"></script>

</body>
</html>