<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <nav>

        <div class="logo">
            <h4>Frontend Challenges</h4>
        </div>

        <ul class="nav-links">
            <li><a href="/login">Login</a></li>
            <li><a href="/made_by">Credits</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>
<main>
    <section class="login-section">
        <div class="register-container">
            <form id="register-form" class="login-content">
                <div class="login-heading">
                    <h2>SignUp</h2>
                </div>

                <div class="input-container">
                    <div class="input-wrapper">
                        <label id="username-register-label">Username</label>
                        <input id="username-register-input" class="input-field-normal" type="text">
                        <p id="username-register-message"></p>
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-wrapper">
                        <label id="password-register-label">Password</label>
                        <input id="password-register-input" class="input-field-normal" type="password">
                        <p id="password-register-message"></p>
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-wrapper">
                        <label id="confirm-password-register-label">Confirm Password</label>
                        <input id="confirm-password-register-input"  class="input-field-normal" type="password">
                        <p id="confirm-password-register-message"></p>
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-wrapper">
                        <label id="email-register-label">Email</label>
                        <input id="email-register-input" class="input-field-normal" type="text">
                        <p id="email-register-message"></p>
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-wrapper">
                        <label id="who-is-your-best-friend-label">Who is your best friend?</label>
                        <input id="who-is-your-best-friend-input" class="input-field-normal" type="text">
                        <p id="who-is-your-best-friend-message"></p>
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-wrapper">
                        <button type="submit">SIGNUP</button>
                    </div>
                </div>

                <div class="input-container-smaller">
                    <div class="input-wrapper">
                        <a href="/login">Already have account?</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

<div class="background-images">
    <div class="square-1"></div>
    <div class="square-2"></div>
</div>


<footer>
    <div class="contact-us">
        <div class="contact-us-wrapper">
            <div class="contact-us__text">
                <p>Contact Us</p>
            </div>

           <div class="contact-us__icons">
                <a href="https://www.instagram.com/adamkurek_/"><img class="small-icon" src="/static/img/images/instagram.png"></a>
               <a href="https://twitter.com/AdamKurek19"><img class="small-icon" src="/static/img/images/twitter.png"></a>
                <a href="https://sk.linkedin.com/in/adam-kurek-665b8522a?trk=people-guest_people_search-card&original_referer=https%3A%2F%2Fwww.google.com%2F"><img class="small-icon" src="/static/img/images/linked-in.png"></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright &copy; 2022</p>
    </div>
</footer>

<script src="/static/js/navbar.js"></script>
<script src="/static/js/main-script.js"></script>
<script src="/static/js/register_valid.js"></script>
</body>
</html>