@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');


$lightblue_color : #e5f9ff;
$yellow_color: #FFE500;
$purple_color: #F1A1E3FF;

$main_font: 'Alatsi', sans-serif;
$side_font: 'Roboto', sans-serif;


$gray_color_text: #5b5b5b;
$black_color_text: #000000;

$red_color_warning: #FA4F4F;
$green_color_success: #4AA62A;



