<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solutions</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <h4>Frontend Challenges</h4>
        </div>

        <ul class="nav-links">
            <li><a href="/forum">Forum</a></li>
            <li><a href="/challenges">Challenges</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/made_by">Credits</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

    </nav>
</header>

<main>
    <section class="solution-section">
        <div class="solution-heading">
            <h1 class="text">Solutions</h1>
        </div>
        <div class="solution-container">


            <div class="solution">
                <div class="solution-image-container">
                    <img src="/static/img/design/form_validation.png" alt="solution">
                </div>
                <div class="solution-text-container">

                    <div class="solution-text__description">
                        <h3 class="wavy-text">Form Validation</h3>

                        <p>
                            This is the solution for the project for
                            validation where you use basic operation in
                            javascript and you learn how to work with DOM.
                        </p>

                        <div class="solution-text-footer">
                            <a href="https://github.com/Kurk3/FormValidationSolution/archive/refs/heads/master.zip">GET
                                PROJECT</a>
                        </div>

                        <p class="solution-name">Adam Kurek</p>
                        <p class="solution-date">29.4.2022</p>

                    </div>
                </div>
            </div>

            <div class="solution">
                <div class="solution-image-container">
                    <img src="/static/img/design/javascript_calculator.png" alt="solution">
                </div>

                <div class="solution-text-container">
                    <div class="solution-text__description">
                        <h3 class="wavy-text">Calculator</h3>

                        <p>
                            Checkout our solution for javascript calculator
                            where you will learn how to work with
                            classes and how to write clean javascript code.
                        </p>

                        <div class="solution-text-footer">
                            <a href="https://github.com/Kurk3/JavascriptCalculator/archive/refs/heads/master.zip">GET
                                PROJECT</a>
                        </div>

                        <p class="solution-name">Adam Kurek</p>
                        <p class="solution-date">29.4.2022</p>
                    </div>
                </div>
            </div>


            <div class="solution">
                <div class="solution-image-container">
                    <img src="/static/img/design/advicegen.png" alt="solution">
                </div>
                <div class="solution-text-container">

                    <div class="solution-text__description">
                        <h3 class="wavy-text">Advice Generator</h3>
                        <p>
                            This is the solution for the Advice Generator project.
                            Where you will learn how to implement javascript API and display data.
                        </p>

                        <div class="solution-text-footer">
                            <a href="https://github.com/Kurk3/AdviceGeneratorApp_/archive/refs/heads/master.zip">GET
                                PROJECT</a>
                        </div>

                        <p class="solution-name">Adam Kurek</p>
                        <p class="solution-date">29.4.2022</p>
                    </div>
                </div>
            </div>


            <div class="solution">
                <div class="solution-image-container">
                    <img src="/static/img/design/pomodoro.png" alt="solution">
                </div>
                <div class="solution-text-container">

                    <div class="solution-text__description">
                        <h3 class="wavy-text">Pomodoro</h3>

                        <p>
                            In this project, you will build a Pomodoro timer where you will learn how to work with local
                            storage and you will learn to work with classes and objects in javascript.
                        </p>

                        <div class="solution-text-footer">
                            <a href="https://github.com/Kurk3/PomodoroSolution/archive/refs/heads/master.zip">GET
                                PROJECT</a>
                        </div>

                        <p class="solution-name">Adam Kurek</p>
                        <p class="solution-date">29.4.2022</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<footer>
    <div class="contact-us">
        <div class="contact-us-wrapper">

            <div class="contact-us__text">
                <p>Contact Us</p>
            </div>

            <div class="contact-us__icons">
                <a href="https://www.instagram.com/adamkurek_/"><img class="small-icon"
                                                                     src="/static/img/images/instagram.png"></a>
                <a href="https://twitter.com/AdamKurek19"><img class="small-icon" src="/static/img/images/twitter.png"></a>
                <a href="https://sk.linkedin.com/in/adam-kurek-665b8522a?trk=people-guest_people_search-card&original_referer=https%3A%2F%2Fwww.google.com%2F"><img
                        class="small-icon" src="/static/img/images/linked-in.png"></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright &copy; 2022 </p>
    </div>
</footer>

<div class="background-images">
    <div class="square-1"></div>
    <div class="square-2"></div>

    <div class="dot-element-1">
        <p>.................</p>
        <p>.................</p>
        <p>.................</p>
        <p>.................</p>
        <p>.................</p>
        <p>.................</p>
    </div>
</div>

<script src="/static/js/navbar.js"></script>
<script src="/static/js/main-script.js"></script>
</body>
</html>