<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum Posts</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <h4>Frontend Challenges</h4>
        </div>
        <ul class="nav-links">
            <li><a href="/challanges">Challenges</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

    </nav>
</header>

<main>
    <section class="forum-post__section">
        <div class="forum-post__container">
            <header class="forum-post_main-heading">
                <h1 class="text">Forum Posts</h1>
            </header>
            <div class="forum-post-wrapper">
                <div class="forum-post">

                    <header class="forum-post__heading">
                        <h1 class="wavy-text">Title of post</h1>
                    </header>

                    <article class="forum-post__text">
                        <p>olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                            optiuit sunt excepturi expedita
                            olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                            optiuit sunt excepturi expe
                            olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                            optiuit sunt excepturi expe</p>
                    </article>
                    <div class="forum-post__footer">
                        <p class="name">Adam Smith</p>
                        <a class="add-answer">Add answer</a>
                        <a class="show-answer">Show answers</a>
                        <p class="date">9.05.2020</p>
                    </div>
                </div>


                <aside class="popup-window--add-answer">
                    <div class="arrow-element-add-answer"></div>
                    <div class="popup-window--show-answer-text">
                        <h1 class="wavy-text">the question name.</h1>
                        <p class="name">Adam Smith</p>
                        <textarea class="textarea-add-answer" placeholder="Your solution"></textarea>
                        <button class="add-answer-button">Add answer</button>
                        <div class="popup-window--show-answer-footer">
                            <a class="close-button-footer-add-answer">Close</a>
                        </div>
                    </div>
                </aside>
                <article class="popup-window--show-answer">
                    <div class="arrow-element-show-answer"></div>
                    <div class="popup-window--show-answer-text">
                        <h1 class="wavy-text">Show answers </h1>
                        <p class="name">Adam Kurek</p>
                        <p>(longer description) isquam eius sed odit fugiat iusto fuga praesentium optiuit sunt
                            excepturi expe olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam
                            blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentiu</p>
                        <div class="popup-window--show-answer-footer">
                            <a class="close-button-footer-show-answer">Close</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="forum-post-wrapper">
                <div class="forum-post">

                    <div class="forum-post__heading">
                        <h1 class="wavy-text">Title of post</h1>
                    </div>

                    <article class="forum-post__text">
                        <p>
                            olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                            optiuit sunt excepturi expedita
                            olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                            optiuit sunt excepturi expe
                            olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                            optiuit sunt excepturi expe
                        </p>
                    </article>
                    <div class="forum-post__footer">
                        <p class="name">Adam Smith</p>
                        <a class="add-answer">Add answer</a>
                        <a class="show-answer">Show answers</a>
                        <p class="date">9.05.2020</p>
                    </div>
                </div>
                <aside class="popup-window--add-answer">
                    <div class="arrow-element-add-answer"></div>
                    <div class="popup-window--show-answer-text">
                        <h1 class="wavy-text">the question name.</h1>
                        <p class="name">Adam Smith</p>
                        <textarea class="textarea-add-answer" placeholder="Your solution"></textarea>
                        <button class="add-answer-button">Add answer</button>
                        <div class="popup-window--show-answer-footer">
                            <a class="close-button-footer-add-answer">Close</a>
                        </div>
                    </div>
                </aside>
                <article class="popup-window--show-answer">
                    <div class="arrow-element-show-answer"></div>
                    <div class="popup-window--show-answer-text">
                        <h1 class="wavy-text">Show answers </h1>
                        <p class="name">Adam Kurek</p>
                        <p>(longer description) isquam eius sed odit fugiat iusto fuga praesentium optiuit sunt
                            excepturi expe olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam
                            blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentiu</p>
                        <div class="popup-window--show-answer-footer">
                            <a class="close-button-footer-show-answer">Close</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>

<div class="background-images">
    <div class="square-1"></div>
    <div class="square-2"></div>
</div>

<div class="background-images">
    <div class="square-1"></div>
    <div class="square-2"></div>
</div>

<script>

    let forumPostWrapper = document.getElementsByClassName('forum-post-wrapper');
    let popup_window_show_answers = document.getElementsByClassName('popup-window--show-answer');
    let popup_window_add_answers = document.getElementsByClassName('popup-window--add-answer');
    let popup_window_close_button_show_answers = document.getElementsByClassName('close-button-footer-show-answer');
    let popup_window_close_button_add_answers = document.getElementsByClassName('close-button-footer-add-answer');
    let add_answer = document.getElementsByClassName('add-answer');
    let show_answer = document.getElementsByClassName('show-answer');

    for (let i = 0; i < popup_window_add_answers.length; i++) {
        popup_window_close_button_add_answers[i].addEventListener('click', function () {
            popup_window_add_answers[i].style.display = 'none';

        });
    }

    // when the popup_window_answer is clicked display none
    for (let i = 0; i < popup_window_show_answers.length; i++) {
        popup_window_close_button_show_answers[i].addEventListener('click', function () {
            popup_window_show_answers[i].style.display = 'none';
        });
    }

    // when the popup_window_answeris clicked display none

    for (let i = 0; i < show_answer.length; i++) {
        show_answer[i].addEventListener('click', function () {
            popup_window_show_answers[i].style.display = 'flex';
            popup_window_add_answers[i].style.display = 'none';
        });
    }

    for (let i = 0; i < add_answer.length; i++) {
        add_answer[i].addEventListener('click', function () {
            popup_window_add_answers[i].style.display = 'flex';
            popup_window_show_answers[i].style.display = 'none';
        });
    }
</script>
<script src="/static/js/navbar.js"></script>
</body>
</html>