<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum Posts</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <h4>Frontend Challenges</h4>
        </div>

        <ul class="nav-links">
            <li><a href="#">Forum</a></li>
            <li><a href="#">Challenges</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>

<main>
    <section class="forum-post__section">
        <div class="forum-post__container">
            <div class="forum-post_main-heading">
                <h1 class="text">Forum Posts</h1>
            </div>




            <div class="forum-post-wrapper">
                <div class="forum-post">
                    <div class="forum-post__heading">
                        <h1 class="wavy-text">Title of post</h1>
                    </div>

                    <div class="forum-post__text">
                        <p>olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                            optiuit sunt excepturi expedita
                            olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                            optiuit sunt excepturi expe
                            olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                            optiuit sunt excepturi expe</p>
                    </div>
                    <div class="forum-post__footer">
                        <p class="name">Adam Smith</p>
                        <a class="add-answer">Add answer</a>
                        <a class="add-answer">Show answers</a>
                        <p class="date">9.05.2020</p>
                    </div>
                </div>
                <div class="popup-window--show-answer">
                    <div class="arrow-element"></div>
                    <div class="popup-window--show-answer-text">
                        <h1 class="wavy-text">You should add your title first </h1>
                        <p class="name">Adam Smith</p>
                        <p>(longer description) isquam eius sed odit fugiat iusto fuga praesentium optiuit sunt
                            excepturi expe olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam
                            blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentiu</p>
                        <div class="popup-window--show-answer-footer" id="popup-footer-close-parent">
                            <a class="close-button-footer">Close</a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="forum-post-wrapper">
                <div class="forum-post">
                    <div class="forum-post__heading">
                        <h1 class="wavy-text">Title of post</h1>
                    </div>

                    <div class="forum-post__text">
                        <p>olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                            optiuit sunt excepturi expedita
                            olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                            optiuit sunt excepturi expe
                            olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                            optiuit sunt excepturi expe</p>
                    </div>
                    <div class="forum-post__footer">
                        <p class="name">Adam Smith</p>
                        <a class="add-answer">Add answer</a>
                        <a class="add-answer">Show answers</a>
                        <p class="date">9.05.2020</p>
                    </div>
                </div>
                <div class="popup-window--show-answer">
                    <div class="arrow-element"></div>
                    <div class="popup-window--show-answer-text">
                        <h1 class="wavy-text">You should add your title first </h1>
                        <p class="name">Adam Smith</p>
                        <p>(longer description) isquam eius sed odit fugiat iusto fuga praesentium optiuit sunt
                            excepturi expe olestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                            numquam
                            blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentiu</p>
                        <div class="popup-window--show-answer-footer">
                            <a class="close-button-footer">Close</a>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </section>


</main>

<div draggable="true" class="background-images">
    <div class="square-1"></div>
    <div class="square-2"></div>
</div>

<!--
<footer>
    <div class="contact-us">
        <div class="contact-us-wrapper">
            <div class="contact-us__text">
                <p>Contact Us</p>
            </div>

            <div class="contact-us__icons">
                <img class="small-icon" src="/fontawesome-free-6.1.1-web/svgs/brands/instagram.svg">
                <img class="small-icon" src="/fontawesome-free-6.1.1-web/svgs/brands/twitter.svg">
                <img class="small-icon" src="/fontawesome-free-6.1.1-web/svgs/brands/linkedin.svg">
            </div>

        </div>
    </div>

    <div class="copyright">
        <p>Copyright &copy; 2022 Frontend Challenges</p>
    </div>
</footer>
-->

<div class="background-images">
    <div class="square-1"></div>
    <div class="square-2"></div>
</div>

<script>
    // get element href from popup-window--show-answer-footer
    close_button_a_parent = document.getElementsByClassName('popup-window--show-answer-footer')[0];

    // get every popup-window--show-answer-footer element on the page
    close_button_a = close_button_a_parent.getElementsByClassName('close-button-footer')[0];

    popup_window_show_answer = document.getElementsByClassName('popup-window--show-answer');
    a_button = close_button_a_parent.getElementsByClassName('close-button-footer');

    // get specific a_button that is clicked and display none to that specific div
    for (let i = 0; i < close_button_a.length; i++) {
        close_button_a[i].addEventListener('click', function () {
            popup_window_show_answer[i].style.display = 'none';
        });
    }


        for (let i = 0; i < a_button.length; i++) {
            a_button[i].addEventListener('click', function () {
                popup_window_show_answer[i].style.display = 'none';
                console.log('clicked');
            });
        }




</script>

</body>
</html>